
.emphasis {
  font-weight: 700;
  /* color: rgb(70, 69, 69); */
  color: #F0EDE8;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 1rem;
  padding: .25rem;
  border-radius: 20%;
  box-shadow: -8px 4px 4px rgb(151, 151, 151);
}

.material-symbols-outlined {
  font-size: 40px;
  /* color: #F0EDE8; */
  color:rgb(70, 69, 69);
  margin: 10px;
}

.emphasis2 {
  font-weight: 700;
  font-size: larger;
}

#boudaries {
  text-align: start;
  font-size: 30px;
}

#respect {
  text-align: end;
  font-size: 30px;
}

#safety {
  text-align: start;
  font-size: 30px;
}

#focus {
  font-size: 30px;
}

#attention {
  text-align: center;
  font-size: 30px;
}

#ethic {
  text-align: start;
  font-size: 30px;
}

#growth {
  font-size: 30px;
}

p {
  font-size: 18px;
}

.title {
text-align: center;
}

.program-title {
  font-size: 40px;
    color: #F0EDE8;
    text-align: center;
    background-color: #212529;
    padding: 15px;
    margin: 5px;
    width: 100%;
  }

h4 {
  font-size: 24;
}

#tag-line {
  color: rgb(219, 31, 17);
  font-weight: bold;
}

h5 {
  color: rgb(219, 31, 17);
  font-size: 25px;
  font-weight: bold;
}

p {
  font-size: 20px;
  padding: 20px;
}



li {
  font-size: 25px;
  margin-bottom: 8px;
}

.body {
  margin: 2rem 10rem;
  font-size: 22px;
}
.body2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  margin: 2rem 10rem;
}

body > * {
  flex: 1 1 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    margin: 10px;
    /* width: 85%; */
}

.class-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 10rem;
  gap: 5rem;
}

#class-text {
  line-height: 40px;
  font-size: 25px;
}

#kid-focus {
    background-color: rgb(109, 106, 106);
    color: #fff;
    padding: 40px;
    list-style: none;
    width: 85%;
    text-align: end;
    line-height: 40px;
    border-radius: 5%;
    max-width: 40rem;
    box-shadow: -8px 4px 4px rgb(151, 151, 151);
}

ul {
  list-style: none;
}

.img {
    margin: 15px;
    max-width: 400px;
}

.text {
    margin: 15px;
    width: 85%;
}

#kidpic {
  border: 5px solid black;
}

@media (max-width: 1050px) {
    .body, .container-fluid, .class-container {
      flex-direction: column;
    }
    .class-container {
      gap: 2rem;
    }
  }

  @media (max-width: 800px) {
    .class-container, .body, .body2 {
      margin: 2rem;
    }
  }

  @media (min-width: 800px) {
    #adult-class {
        min-height: 300px;
        min-width: 227px;
    }

  }
