.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-container {
    margin-top: 15px;
    max-width: 475px;
}

.carousel-item {
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: transform;
}