.pics {
    min-width: 550px;
    max-width: 550px;
}

@media (max-width:650px) {
    .pics {
        min-width: 200px;
    }
}
.container {
    max-width: 550px;
    margin: 10px;
    padding: 0;
}

img {
    border-radius: 10%;
}