<div class="container">
  <ngb-carousel>
		<ng-template ngbSlide>
			<div class="pics">
				<img class="img-fluid" src="/assets/images/armbar.jpg" alt="armbar" />
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="pics">
				<img class="img-fluid" src="/assets/images/kidClass2.JPG" alt="kid class" />
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="pics">
				<img class="img-fluid" src="/assets/images/knife.jpg"  alt="knife fighting" />
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="pics">
				<img class="img-fluid" src="/assets/images/lesson1.jpg"  alt="knife fighting" />
			</div>
		</ng-template>
	</ngb-carousel>
</div>

	
