<div class="inst-body">
  <div class="jacky container-fluid">
    <div id="img-container">
      <img id="meet-img" src="assets/images/meet.JPG" alt="" />
    </div>

    <div id="jack-about">
      <p>
        <span style="font-size: larger; font-weight: bold">
          Cheif instructor Jack</span
        >
        has over 40 years of martial arts experience including:
        <li>Jeet Kune Do</li>
        <li>boxing</li>
        <li>Muay Thai</li>
        <li>Jiu-Jitsu</li>
        <li>Kali</li>
        <li>submission grappling</li>
        <br />
        Jack also practiced violence prevention as a professional counselor for 15 years.
      </p>
      <br>
      <button class="btn btn-light" mat-button (click)="certsOpen()">
        See Certifications
      </button>
    </div>
  </div>
</div>
