<div class="inst-body">
 
  <div class="jacky container-fluid">
    <div id="img-container">
      <img id="meet-img" src="assets/images/meet.JPG" alt="" />
    </div>

    <div id="jack-about">
        
                    <p> <span style="font-size: larger; font-weight: bold;"> Cheif instructor Jack</span> has over 40 years of martial arts experience including:
                        <li>Jeet Kune Do</li>
                        <li>boxing</li> 
                        <li>Muay Thai</li> 
                        <li>Jiu-Jitsu</li> 
                        <li>Kali</li> 
                        <li>submission grappling</li> <br>
                        </p>
                        <button class="btn btn-light" mat-button (click)="certsOpen()">See Certifications</button>
    
    </div>
    
  </div>

  <br>
  <div id="background">
   
    <h4>Other Certifications</h4>
  </div>
  <br />
  <span class="emphasis"
    >USA Boxing (Governing Organization of the Olympics), Level 1
    (2007-current)</span
  >
  <br />
  <span class="emphasis"
    >Violence Prevention Courses (completed during professional career as
    counselor on primary therapy teams):</span
  >
  <ul>
    <li>Nicoletti-Flater Violence (2013)</li>
    <li>
      Crisis Prevention Institute non-violence crisis intervention (2005-2013)
    </li>
    <li>Pro-ACT professional assault crisis training (2007-2008)</li>
    <li>Therapeutic Crisis Intervention (2003-2005)</li>
    <li>HWC (Handle With Care) crisis intervention (1999-2001)</li>
  </ul>
  <span class="emphasis">Coaching Courses:</span>
  <ul>
    <li>NFHS Coaching Certification (2011-2012)</li>
    <li>Safe Sport training USA Boxing (2017-present)</li>
  </ul>
</div>
<div class="line"></div>

