<div id="backdrop"></div>
<form action="https://formsubmit.co/noonfirerebel@gmail.com" method="POST">
        <div class="modal_content">
            <p>Sign up for a FREE 30-min private lesson. Fill out your name and tell us a bit about your training goals.</p>
            <label for="name">Name</label>
            <input type="text" id="name" required>
            <label for="email">Email</label>
            <input type="text" id="email" required>
            <label for="info">Goals, Interests, Questions</label>
            <div class="expandingArea">
            <textarea id="text-area"></textarea>                    
            </div>
        </div>
        <div class="modal__actions">
            <button id="close-btn">X</button>
            <button class="button" id="clear-btn">Clear</button>
            <button class="button" type="submit" id="submit-btn">Submit</button>
            <input type="hidden" name="_next" value="https://yourdomain.co/thanks.html">
        </div>
    </form>
  