<div id="backdrop"></div>
<form
  class="gform"
  method="post"
  [formGroup]="emailForm"
  (ngSubmit)="submitForm()"
>
  <div class="modal_content">
    <p>
      Sign up for a FREE 30-min private lesson. Fill out your name and tell us a
      bit about your training goals.
    </p>

    <div class="form-group">
      <label for="user-name">Name</label>
      <input
        type="text"
        id="user-name"
        formControlName="userName"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        required
      />
    </div>

    <div class="form-group">
      <label for="message">Goals, Interests, Questions</label>
      <div class="expandingArea">
        <textarea
          id="text-area"
          type="text"
          class="form-control"
          formControlName="message"
          required
          [(ngModel)]="value"
        ></textarea>
      </div>
    </div>
  </div>

  <div [ngClass]="!submitted ? 'hidden' : 'visible'" class="center-text">
    <span>{{ responseMessage }}</span>
  </div>

  <div class="modal__actions">
    <button id="close-btn" (click)="onClick()">X</button>
    <button *ngIf="value" class="button" id="clear-btn" (click)="value=''">Clear</button>
    <button class="submit" type="submit" id="submit-btn">Submit</button>
  </div>

</form>
