.line {
    border-bottom: 3px solid white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .line2 {
    border-bottom: 3px solid gray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .inst-body {
    text-align: center;
  }

  .instructor {
    margin: auto;
    display: block;
    padding: 10px;
  }

  #inst-name {
    color:black;
    text-decoration: underline;
  }

  #inst-name:hover {
    cursor: pointer;
    color:rgb(219, 31, 17);
    font-weight: bold;
  }

  .inst-group {
    display: flex;
    flex-wrap: wrap;
  }

  .modal-footer {
    justify-content: center;
  }

  