<div class="inst-body">
    <h4>Advanced-Phase Instructors</h4>
        <div class="line2"></div>
        <div class="inst-group">
            <div class="instructor">
                <img id="instr-image" src="" alt="" width="200px">
                <p></p>
            </div>
        </div>
        <div class="line2"></div>
        <h4>Intermidiate-Phase Instructors</h4>
        <div class="line2"></div>
        <div class="inst-group">
            <div class="instructor">
                <img id="instr-image" src="" alt="" width="200px">
                <p></p>
            </div>
        </div>
        <div class="line2"></div>
    <h4>Apprentice Instructors</h4>
        <div class="line2"></div>
        <div class="inst-group">
            <div class="instructor">
                <img id="instr-image" src="" alt="" width="200px">
                <p></p>
            </div>
        </div>
    </div>