<div class="banner">
  <div class="carousel">
    <app-carousel></app-carousel>
  </div>
  <h1>
    Experience the confidence that comes from learning the most effective martial
    arts.
  </h1>
</div>

<div class="container-fluid">
  <div class="text">
    <h1>We offer:</h1>
    <p>
      Adult beginner through advanced MMA adapted for self-protection,
      fitness, and competition.
      <br /><br />
      Youth classes focussed on bully de-escalation, defense, athletics, and
      mental focus.
      <br /><br />
      Qualified and supportive instructors that will guide you through gradual,
      self-paced progressions to help you develop the five necessary dimensions
      of your martial arts:
      <span class="emphasis"
        >technique, tactic, athleticism, emotional content, and situational
        awareness.</span
      >
    </p>
  </div>

  
  <br />
</div>
