<h5>
    Experience the confidence that comes from learning the most effective martial
    arts.
  </h5>

<div class=" container-fluid">
  <div class="text">
    <p>
      Our qualified and supportive instructors will guide you through gradual,
      self-paced progressions to help you develop the five necessary dimensions
      of your martial arts:
      <span class="emphasis"
        >technique, tactic, athleticism, emotional content, and situational
        awareness.</span>
    </p></div>

  <div class="carousel">
    <app-carousel></app-carousel>
  </div>
  <br />
</div>
<br>
