body {
  background-color: rgb(193, 190, 190);
}

#logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

#logo-img {
  text-align: right;
  padding: 0 15px;
}

p {
  /* padding: 0 20px; */
  margin: 0;
}

.button-container {
  text-align: center;
  padding: 1rem;
}
.button {
  padding: 15px;
  font-size: 16px;
  color: rgb(11, 11, 11);
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  background: none;
}

button:hover {
  font-weight: bold;
  color: rgb(219, 17, 17);
}

.container-rights {
  text-align: center;
  padding: 1rem;
}


